body {
  background: #aaa;
  font-family: Helvetica;
}

#right, #board {
  display: inline-block;
  vertical-align: top;
}

#right {
  margin-top: 30px;
  margin-left: 30px;
}

#players a, .player {
  margin-bottom: 8px;
}

#die {
  width: 42px;
  height: 42px;
  background-image: url(dice.gif);
  margin-bottom: 16px;
}

#players a {
  display: block;
  opacity: 0.4;
}

.move {
  color: blue;
}

#roll > .move {
  display: block;
  margin-bottom: 3px;
}

.value2 {
  background: -42px 0;
}

.value3 {
  background-position: -84px 0;
}

.value4 {
  background-position: -126px 0;
}

.value5 {
  background-position: -168px 0;
}

.value6 {
  background-position: -210px 0;
}

#rollLink {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

#startOver {
  color: #444;
  opacity: 1 !important;
  margin-top: 16px;
  font-style: italic;
}